.App {
  text-align: center;
}

.pokmeonImg {
  filter: brightness(5%);
}

.div {
  margin-top: 25px;
}

.redBox {
  margin: auto;
  background: #c03230;
  width: 500px;
  height: 600px;
  text-align: center;
  padding: 20px;
  margin-top: 15px;
}

.yelloBox {
  background: #F7D741;
  width: 300px;
  height: 200px;
  margin: auto;
  padding: 3px;
  box-shadow: 5px 5px 10px  rgb(39, 39, 39);
  padding-top: 10px;
}

.right {
  margin-top: 10px;
  color: white;
  width: 200px;
  height: 175px;
  background: black;
  padding-top: 2px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px  rgb(39, 39, 39);
}

.tally {
  display: flex;
  justify-content: space-evenly
}

.num {
  font-size: 100px;
  color: white;
}

button:focus {
  outline: none;
}

.submit {
  width: 100px;
  height: 25px;
  background: #b8312f;
  border-style: inset;
  border-color: rgb(214, 197, 122);
  border-width: 1.5px;
  font-family: unset;
  font-size: 20px;
  padding-bottom: 27px;
  color: rgb(250, 233, 167);
}

button:active {
  border-style: outset;
}

.who {
  width: 200px;
  height: 50px;
  background: #b8312f;
  border-style: inset;
  border-color: #d6c57a;
  border-width: 1.5px;
  font-family: unset;
  font-size: 20px;
  padding-bottom: 50px;
  color: rgb(250, 233, 167);
}

.dropDown {
   background-color: #b8312f;
   color: #d6c57a;
}

select:focus {
  outline: none;
}

.pokemon {
  height: 100px;
}